@font-face {
    font-family: "Shlop";
    src: url('fonts/shlop rg.woff2') format('woff2'),
          
    font-weight: normal;
    font-style: normal;
   
}

body {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    background: url("./images/BG.jpg");
    background-size: cover;
}
#board {
    width: 540px;
    height: 540px;
    background-color: #f0d9b5;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    background-image: url("./images/ground.jpg");
    border: 3px solid #ae00ff;
    box-shadow: #000 5px 5px 15px;
    border-radius: 25px ;
}

#board div {
    width: 180px;
    height: 180px;
    background-image: url("./images/tomb1.png");
    background-size: cover;
}

#board div img {
    width: 175px;
    height: 150px;
}


h1 {
    font-size: 60px;
    font-weight: normal;
    font-family: 'Shlop', sans-serif; 
    color: #d8ff89;
    text-shadow: 1px 1px 5px #d8ff89;

    

}
h2 {
    font-family: "Shlop", Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: #d8ff89;
    text-shadow: 1px 1px 2px #d8ff89;
}

.game-desc-box {
background-color:rgba(0, 0, 0, 0.7);
padding: 20px;
border-radius: 30px;
max width: 100px;
margin: 50px auto;

}
h3 {
    font-family: "Shlop", Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #d8ff89;
   
}
p {
    font-size: 20px;
    color: #d8ff89;
    
}
ul {
    font-size: 20px;
    color: #d8ff89;
}

h4 {
    font-family: "Shlop", Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #d8ff89;
   
}
h5 {
    font-family: "Shlop", Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #d8ff89;
   
}